* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sofadi One, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "block1 block1 block1"
        "block2 block3 block3"
        "block2 block4 block5"
        "block6 block6 block6";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    height: 100vh;
}

.block {
    padding: 20px;
    background-color: #f4f4f4;
}

.block1 {
    text-align: left;
    justify-content: flex-end;
    align-items: center;
    grid-area: block1;
    background-color: #9381FF;
}

.block2 {
    grid-area: block2;
    background-color: #B8B8FF;
}

.block3 {
    grid-area: block3;
    background-color: #FFEEDD;
}

.block4 {
    grid-area: block4;
    background-color: #F8F7FF;
}

.block5 {
    grid-area: block5;
    background-color: #FFD8BE;
}

.block6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: block6;
    background-color: #9381FF;
}

img {
    max-width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
